input {
  font-family: Regular;
  color: black;
}

.regform {
  max-width: 400px;
}

.regdiv {
  height: 100vh;
}

.regform div {
  width: 400px;
}

.regform div button {
  width: 160px;
}

body {
  background-color: #c0d6df;
}

.loginkulso {
  height: 100vh;
  max-width: 500px;
}

.logindiv {
  width: 500px;
}

.loginbtn {
  width: 200px;
}

.btnstyle {
  background-color: #ffc300;
  border-radius: 5px;
  color: black;
  border: none 0px;
  text-decoration: none;
}

.avgbtn {
  background-color: #ffc300;
  border-radius: 5px;
  color: black;
  padding: 10px;
  border: none 0px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 15px;
}

.cardbtn {
  background-color: #ffc300;
  border-radius: 5px;
  color: black;
  font-size: 36px;
  padding: 5px 20px;
  border: none 0px;
  margin: 20px;
  border-radius: 15px;
}

.redbtn {
  background-color: #ff000d;
  border-radius: 5px;
  color: black;
  padding: 10px;
  border: none 0px;
  margin-top: 20px;
  border-radius: 15px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.navbarcss {
  background-color: #001d3d;
}

.card {
  padding: 2em;
}

.navitemcss {
  color: white;
  font-family: "Jacques Francois", serif;
}

.navbarlogo {
  max-width: 100px;
}

.navitemcss {
  color: white;
  font-family: "Jacques Francois", serif;
}

.navbarlogo {
  max-width: 100px;
}

footer {
  background-color: #001d3d;
  color: white;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.footerlogo {
  max-width: 100px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: black;
}

.h4-profile {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20;
}

.div-card {
  background-color: #607a8e;
  border-radius: 15px;
  align-items: center;
  padding: 1px 25px;
}

.card-text {
  font-size: 36px;
  color: white;
}

.card-Altext {
  font-size: 26px;
  color: white;
}

.likebtn {
  background-color: #607a8e;
  border: none;
  padding: 1px 50px;
}

.placeholerLabel {
  font-size: 36px;
  color: white;
  background-color: #607a8e;
  text-align: center;
  display: block;
  padding: 100px 100px;
}

.a-links {
  color: 607a8e;
  font-size: 36px;
  text-decoration: none;
}

.a-links:hover {
  color: black;
}